.how-desc a,
.faq-more a{
	color: #081f3e;
	text-decoration: underline;
}
.product-full-top{
	max-height: 700px;
	min-height: 700px;
}

.product-submenu{
	top: 160px;
}

.calc .calc-results .button-outer{
	margin-top: 45px;
}

.content-wrap{
	max-width: none;
	padding-bottom: 0;
}

.tenge{
	font-size: 110px;
	color: #f00;
}

.product-promo .product-terms .carterms .term-title{
	margin-top: 30px;
}

.product-promo.auto-leasing .product-welcome .image{
	top: 130px;
}

.product-promo .product-terms .carterms .term-title, .product-promo .product-terms .carterms .term-desc{
	margin-left: 25px;
}

.product-promo .product-faq .faq-item{
	padding: 0;
}

.single-accordion h6 a{
	background-color: #db1f31 !important;
	font-size: 16px !important;
}

.product-promo .product-howtoget{
	background:#f6f6f6 url('../img/bg-img/hand.png') no-repeat right 250px;
}

.product-promo.auto-leasing .product-terms{
	background-image:url(../img/bg-img/product-calendar.jpg);
}
.product-promo .years-counter .year-num{
	font-size: 65px;
}
.sc-text-input, .sc-select-wrap, .field-type-text input, .field-type-number-integer input, .field-type-taxonomy-term-reference input, .field-type-datetime input, .field-type-list-text input{
	height: 50px
}

.calc-field .form-control{
	color: #536174;
}

.calc .calc-field-content{
	margin-left: 0;
}

.how-options .fa{
	text-align: center;
	font-size: 90px;
	border-radius: 100px;
	width: 100%;
	height: 100%;
	background-color: #081f3e;
	color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.tick-list .fa{
	color: #ed1b2e;
	margin-right: 15px;
	font-size: 23px;
}
.faq-item .tick-list .fa{
	font-size: 7px;
}

.product-full-top{
	position: relative;
}

.product-full-top .mobile-bg-wrap{
	position: absolute;
	z-index: 1;
}
.product-full-top .video-bg{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.product-full-top .video-bg:after,
.product-full-top .mobile-bg-wrap:after{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.35);
	content: '';
}

@media (min-width: 1359px){
	.width-fix{
		width: 100%
	}
	.product-promo .product-promo-block{
		padding-left: 100px;
		padding-right: 100px;
	}
}

@media (max-width: 960px){
	body{
		padding-top: 0;
	}
	.how-options .fa{
		font-size: 35px;
	}
	.product-full-top{
		min-height: 450px;
	}
	.product-full-top .product-submenu .product-title{
		padding-top: 160px;
	}
	.product-full-top .product-full-usps {
		padding-bottom: 150px;
		padding-top: 80px;
		font-size: 25px !important;
	}
	.product-promo .product-terms .carterms .sign-icon{
		width: 70px
	}
	.product-promo .product-howtoget .how-options li{
		margin-bottom: 35px;
	}
	.product-promo .product-terms .carterms .term-title, .product-promo .product-terms .carterms .term-desc{
		margin-left: 20px;
	}
	.product-promo .product-howtoget{
		background-image: none;
	}

	.product-full-top .video-bg:after,
	.product-full-top .mobile-bg-wrap:after{
		z-index: -1;
	}
}